* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Dona Alt';
}

:root{
  --mainColor: #033858;
  --secondColor: #53bf9d;
}

.row{
  --bs-gutter-x: 0rem;
}

h1{
  font-weight: 700;
}

.App {
  text-align: center;
  background-color: #53bf9d33;
}

.btn-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.btn-scroll{
  opacity: 0;
  animation: fade 1s;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  width: 320px;
  z-index: 4;
  border-radius: 8px;
  background: #033858 !important;
  color: #f0f0f0 !important;
  transition: all 0.3s ease-in-out;
  padding: 10px 30px;
  border:none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: block;
}
.btn-scroll:hover{
  transition: all 0.3s ease-in-out;
  background: #53bf9d !important;
  color: var(--mainColor) !important;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes onto {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}

.App-header {
  background-color: #c6c7c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.menu li{
  margin: 0.5rem;
}

.bnt{
  align-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.nav {
  align-items: center;
}

.App-link {
  color: #a9a6aa;
}

h1{
  color: #a9a6aa;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.row{
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
}

.background-image{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.user-info{
  display: flex;
  flex-direction: row;
  position:relative
}

.user-text p{
  font-size: 1.6rem;
}

.user-text h4{
  position: absolute;
  margin: 30px 0 5px;
  bottom: 5px;
}


.user-text h6{
  position: absolute;
  margin: 30px 0 10px;
  margin-left: 380px;
  bottom: 5px;
  max-width: 180px;
}
.carousel{
  margin-bottom: 30px;
}

@media screen and (max-width: 670px) {
  .user-text h6{
    visibility: hidden;
  }
}

@media screen and (max-width: 426px) {
  .user-text p{
    font-size: 1.2rem;
    min-width: 180px;
  }
  .user-text h4{
    position: unset;
    margin: 0px 0 5px;
  }
}

@media screen and (max-width: 360px) {
  .social{
    display: none;
  }
  .phone{
    margin-left: -160px;
  }
}


.footer{
  background-color: var(--mainColor);
}
.footer p{
  margin-bottom: 0px;
}
.footer ul{
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
.footer li:hover{
  color: white;
}
