@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500&display=swap');


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

:root{
  --mainColor: #033858;
  --secondColor: #53bf9d;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background: linear-gradient(282.48deg, #04738C 13.76%, #53BF9D 86.24%) no-repeat;
  background-size: 100% 500px;
  background-position-y: center;
}


.hero-text{
  max-width: 850px;
  min-width: 350px;
  text-align: start;
}

.hero-text h3{
  font-family: 'Dona';
  font-size: 1.8em;
  text-align: center;
  color: #f0f0f0;
}

.hero-text h4{
  color: var(--mainColor);
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
}

.hero-text p{
  font-size: 1.3em;
  color: #033858;
  text-align: center;
}

.hero-image{
  width: 100%;
  margin-bottom: 7.2%;
  max-width: 600px;
  min-width: 320px;
  flex-shrink: 0 !important;
}


.loginBnt{
  border-radius: 8px;
  background: #033858 !important;
  color: azure !important;
  padding: 10px 30px;
  border:none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
}
.loginBnt:hover{
  transition: all 0.3s ease-in-out;
  background: #53bf9d !important;
  color: azure !important;
}

@media screen and (max-width: 1110px) {
  .hero {
    background: linear-gradient(282.48deg, #04738CBD 13.76%, #53BF9DA3 86.24%) no-repeat;
    background-size: 100% 1124px;
    margin-top: -128px;
  }
  .hero-image{
    margin-bottom: 4.4%;
  }

  .hero-text{
    margin-top: 145px;
    padding: 20px;
  }
}


@media screen and (max-width: 768px) {
  .hero {
    background-size: 100% 97%;
  }

  .hero-text{
    margin-top: 145px;
    padding: 20px;
  }

  .hero-image img{
    max-width: 600px;
    min-width: 350px;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    background-size: 100% 96.6%;
  }

  .hero-image img{
    margin-bottom: 3.9%;
    max-width: 375px;
    min-width: 350px;
  }
}

@media screen and (max-width: 360px) {
  .hero {
    background-size: 100% 95.5%;
  }

  .hero-text{
    margin-top: 120px;
  }

  .hero-text p{
    font-size: 1em;
  }

  .hero-image img{
    margin-bottom: 2.2rem;
    max-width: 320px;
    min-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    background-size: 100% 95.2%;
  }

  .hero-text{
    padding: 20px;
    font-size: 1em;
    min-width: 320px;
  }

  .hero-text p{
    font-size: 0.8em;
  }

  .hero-image{
    max-width: 300px;
  }

  .hero-image img{
    margin-bottom: 10%;
    min-width: 300px;
    max-width: 320px;
  }
}
