/* @font-face {
  font-family: 'Dona Alt';
  src: url(../../../public/fonts/stylesheet.css);
} */

:root{
  --mainColor: #033858;
  --secondColor: #53bf9d;
}


.a{
  text-decoration: none;
  color: var(--secondColor);
}

.icons{
  background-color: var(--mainColor);
  color: azure;
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
}

.row {
  --bs-gutter-x: 0rem;
  margin-left: 0;
}

.row p{
  --bs-gutter-x: 0rem;
  margin-left: 0;
}

.icon-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.icon{
  min-width: 320px;
  padding: 30px;
}
.icon p{
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 10px;
}

.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.produto{
  max-width: 700px;
  padding: 30px;
  display: block;
}
.produto p{
  font-weight: 700;
  font-size: 1.6em;
  margin-top: 10px;
}

.produto img{
  width: 70%;
}

@media screen and (max-width: 2000px) {
  .produto img {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .produto{
    padding: 30px;
  }
  .produto img {
    width: 60%;
  }
}

@media screen and (max-width: 360px) {
  p{
    max-width: 360px;
  }
  .parceiros img{
    max-width: 360px;
  }
  .icon {
    margin-left: 0;
    margin-right: 0;
  }
  .row {
    max-width: 360px;
    margin-left: 0;
  }

  .produto img {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .icon{
    max-width: 310px;
    min-width: 310px;
    margin-left: 0;
    margin-right: 0;
  }
}
