:root{
  --mainColor: #033858;
  --secondColor: #53bf9d;
}

.row{
  padding: 1.2rem;
}

.tutorial{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--mainColor);
  border-radius: 16px;
  margin: 8vh;
}

.tutorial-wraper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
}

.tutorial-number{
  min-width: 9vh;
  min-height: 9vh;
  font-size: 2rem;
  font-weight: 600;
  color: var(--mainColor);
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  box-shadow: rgba(224, 224, 227, 0.3) 5px 5px 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tutorial-text{
  font-size: 1.5rem;
  display: flex;
    align-items: center;
    justify-content: center;
  color: azure;
}

.tutorial-text p{
  padding: 1rem;
}

.tutorialIcon{
  margin-bottom: 15px;
}

.cards {
  flex-wrap: wrap;

}

.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-image{
  width: 100%;
  margin-bottom: 10%;
  max-width: 600px;
  min-width: 350px;
  flex-shrink: 0 !important;
}

.card-image img{
  margin-top: 2%;
}

.card-text{
  align-self: center;
  max-width: 25vw;
  min-width: 350px;
  margin-left: 5em;
}

.card-text p{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--mainColor);
}

.inverted-row card-text{
  margin-left: 20px;
  margin-top: 40px;
}

.normal-row{
  display:none;
}

@media screen and (max-width: 949px) {
  .card-text{
    margin-top: 5%;
    margin-left: 0em;
  }
  .card-image img{
    margin-top: 5%;
  }
  .normal-row{
    display:flex;
    margin-top: 10px;
  }
  .inverted-row{
    display:none;
  }
  .tutorial{
    margin: 6vh;
  }
}
@media screen and (max-width: 768px) {
  .card-image img{
    max-width: 90%;
  }

  .tutorial{
    margin: 4vh;
  }

  .card-text p{
    text-align: center;
  }

  .btn-scroll{
    opacity: 1;
    width: 300px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 425px) {
  .card-image img{
    max-width: 100%;
    padding-inline: 0.5rem;
  }

  .tutorial{
    margin: 2vh;
  }
}

@media screen and (max-width: 360px) {
  .card-image img{
    max-width: 100%;
    margin-top: 10px;
  }

  .tutorial-text{
    text-align: center;
  }

  .btn-scroll{
    opacity: 1;
    width: 280px;
    margin-inline: 6.5vw;
  }
}

@media screen and (max-width: 320px) {
  .tutorial{
    margin: 6%;
  }

  .tutorial-text{
    max-width: 90%;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
    color: azure;
  }

  .card-text{
    text-align: center;
    max-width: 320px;
    min-width: 320px;
  }

  .card-text p{
    text-align: center;
    max-width: 320px;
  }

  .card-image{
    max-width: 320px;
    min-width: 320px;
  }

  .card-image img{
    max-width: 100%;
    margin-top: 10px;
    max-width: 320px;
  }
}
