* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 17vmin;
  pointer-events: none;
  max-width: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c6c7c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.menu{
  display: flex;
  align-items: baseline;
}

.menu li{
  margin: 0.5rem;
}

.bnt{
  align-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.nav {
  align-items: center;
}

.App-link {
  color: #a9a6aa;
}

h1{
  font-weight: bold;
  color: #a9a6aa;
  align-items: center;
  margin-top: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.hero-text{
  max-width: 35%;
  margin: 3%;
  min-width: 380px;
}

.hero-image{
  width: 100%;
  margin-bottom: 10%;
  max-width: 600px;
  min-width: 450px;
  margin: 3%;
  flex-shrink: 0 !important;
}

.tutorial{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #a9a6aa;
  border-radius: 16px;
  margin: 10%;
}

.row{
  flex-wrap: wrap;
  display: flex;
}

.tutorial-number{
  max-width: 105px;
  text-align: center;
  font-size: 3.5rem;
  background-color: rgb(97, 218, 251);
  border-radius: 100%;
  margin-top: 7%;
  position: relative;
  right: -35%;
  bottom: -25%;
}

.tutorial-text{
  max-width: 80%;
  text-align: -webkit-right;
  font-size: 1.5rem;
  text-align-last: center;
  margin-top: 5%;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .tutorial-number{
  margin-bottom: 30px;
  margin-top: 0px;
  }
  .tutorial-text{
    max-width: 90%;
    text-align: end;
    font-size: 1.4rem;
  }
}

.cards {
  flex-wrap: wrap;

}

.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-image{
  width: 100%;
  margin-bottom: 10%;
  max-width: 600px;
  min-width: 450px;
  margin: 3%;
  flex-shrink: 0 !important;
}

.card-text{
  align-self: center;
  max-width: 25%;
  margin: 3%;
  min-width: 380px;

}

.icons{
  background-color: rgb(97, 218, 251);
  color: azure;
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
}

.icon-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
