* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 17vmin;
  pointer-events: none;
  max-width: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c6c7c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.menu li{
  margin: 0.5rem;
}

.bnt{
  align-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.nav {
  align-items: center;
}

.App-link {
  color: #a9a6aa;
}

h1{
  color: #a9a6aa;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.hero-text{
  max-width: 650px;
  min-width: 350px;

}

.hero-image{
  width: 100%;
  margin-bottom: 10%;
  max-width: 600px;
  min-width: 350px;

  flex-shrink: 0 !important;
}

.tutorial{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(97, 218, 251);
  border-radius: 16px;
  margin: 10%;
}

.row{
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
}

.tutorial-number{
  max-width: 105px;
  text-align: center;
  font-size: 3.5rem;
  color: aqua;
  background-color: rgb(250, 250, 250);
  border-radius: 100%;
  margin-top: 7%;
  position: relative;
  right: -35%;
  bottom: -25%;
  box-shadow: rgba(100, 100, 111, 0.3) 5px 5px 15px;;
}

.tutorial-text{
  max-width: 80%;
  text-align: -webkit-right;
  font-size: 1.5rem;
  text-align-last: center;
  margin-top: 5%;
  margin-bottom: 20px;
  color: azure;
}

@media screen and (max-width: 600px) {
  .tutorial-number{
  margin-bottom: 30px;
  margin-top: 0px;
  }
  .tutorial-text{
    max-width: 90%;
    text-align: end;
    font-size: 1.4rem;
  }
}

.background-image{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cards {
  flex-wrap: wrap;

}

.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-image{
  width: 100%;
  margin-bottom: 10%;
  max-width: 600px;
  min-width: 350px;
  flex-shrink: 0 !important;
}

.card-image img{
  margin-top: 15%;
}

.card-text{
  align-self: center;
  max-width: 25%;
  min-width: 350px;
}

.icons{
  background-color: rgb(97, 218, 251);
  color: azure;
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
}

.icon-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.icon{
  min-width: 350px;
  @media screen and (max-width: 361px) {
    max-width: 350px;
  }
}

.user-info{
  display: flex;
  flex-direction: row;
  position:relative
}

.user-text h4{
  position: absolute;
  margin: 30px 0 5px;
  bottom: 5px;
}

.user-text h6{
  position: absolute;
  margin: 30px 0 10px;
  margin-left: 210px;
  bottom: 5px;
  max-width: 180px;
}
.carousel{
  margin-bottom: 30px;
}

@media screen and (max-width: 426px) {
  .user-text h4{
    position: unset;
    margin: 0px 0 5px;
  }
  .user-text h6{
    visibility: hidden;
  }
}

.footer{
  background-color:#61dafb;
}
.footer p{
  margin-bottom: 0px;
}
.footer ul{
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
.footer li:hover{
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
